<h3>{{userMsg.title}}</h3>
<textarea readonly  class="form-control" rows="15">{{userMsg.contents}}</textarea>

<br>

<button class="btn btn-primary btn-sm" ng-click="GoToPage()">
    <span class="glyphicon  glyphicon-th-list"></span>  Back
</button>
<button class="btn btn-info btn-sm" ng-click="editMsg()">
    <span class="glyphicon  glyphicon-pencil"></span>  Edit
</button>

<button class="btn btn-danger btn-sm" ng-click="deleteMsg()">
    <span class="glyphicon glyphicon-remove"></span>  Delete
</button>




